In [2]:
# chi-square test 
import pandas as pd

In [3]:
data = [[70,20,40,90],
        [30,50,60,80]]

In [6]:
df = pd.DataFrame(data,columns=["P1","P2","P3","P4"],index= ["Female","Male"])

In [7]:
df

        P1  P2  P3  P4
Female  70  20  40  90
Male    30  50  60  80

In [9]:
import scipy

In [11]:
from scipy.stats import chi2_contingency

In [16]:
    chisquare,dof,p,expected = chi2_contingency(df)

In [18]:
print("Chi-square test :",round(chisqaure,2))

NameError: name 'chisqaure' is not defined

In [19]:
import seaborn as sns

In [ ]:
import pamdas as pd 
import matplotlib as plt

In [20]:
plt.figure(figure=(10,3))
sns.histplot(df['price'],bins=100,kde=True)
plt.show

NameError: name 'plt' is not defined